/* Secret Agent Supply Inc. */

/* Header Section */

html, body{
  font-family: 'Roboto', sans-serif;
}

html{
  font-size: 16px;
  margin: 0;
}

div{
  border: 1px solid black;
}

.header{
  background-color: #000;
  height: 55px;
  width: 100%;
}


.logo{
  display: inline;
}

.logo img{
  height: 30px;
  width: 50px;
  margin-left: 60px;
  padding-right: 15px;
  margin-top: 10px;
}

.main{
  background-image: url("bike-main.jpeg");
  background-repeat: no-repeat;
  width: 100%;
  display: block;
  background-position: center;
  background-size: cover;
  height: 550px;
}

h2{
  display: inline-block;
  color: #fff;
  font-size: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.5px;
  font-weight: 500;
  vertical-align: middle;
}

h3{
  color: red;
}

/* Showcase Seciton */

.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.showcase{
  display: flex;
  flex-direction: column;
}

.containertwo{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.showcase img{
  width: 175px;
  height: 175px;
  padding: 50px;
}

img{
  width: 100px;
  height: 100px;
}

.black-box{
  margin-top: 200px;
  margin-left: 60px;
  width: 525px;
  height: 275px;
  background-color: #000;
  color: #fff;
}

h1{
  font-size: 42px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 70px;
}

.black-box h4{
  font-size: 20px;
  font-weight: bold;
  margin-top: 60px;
  margin-left: 70px;
}

/* Footer Section */

.footer{
  background-color: #000;
}
